<!-- ---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   Software Developer that recently graduated from LSU's Web Development Program and very excited to enter the field!
   With over 2 years of management experience, I have strong attention to detail, excellent problem-solving skills, excellent communication skills, and a team collaborator.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Web Development Program powered by FullStack Academy"
      subtitle="From November 2022 to Feburary 2023 at Louisiana State University"
    />
   
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Logistics Coordinator"
      subtitle="From 2021 at Royal Roastery"
      desc="Making special shipping arrangements as necessary, while tracking and fixing shipping errors. Prepared bills and invoices while Managing distribution and shipment budgets. Ensuring that the quality of all services provided meets the required standards. Developed processes that make the supply chain more efficient and organized"
    />
    <TimeLineElement
      title="Warehouse Manager"
      subtitle="From 2022 at ISell Cellular"
      desc="Redesigned warehouse layout to accommodate new equipment, maximize space utilization and optimize processes. Built motivated warehouse team to consistently accomplish operations goals and exceed performance targets. Offered expertise in inventory management and current stock levels to internal teams and customers to facilitate accuracy and product availability."
    />
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/1gMT2c7e7nxG0d58yAjw48gsWi8gOuefE/view?usp=sharing" target="_blank">LSU's Web Development Certificate</a>
    </li>
    
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English (Native)</li>
    <li>Arabic</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>Express</li>
    <li>Postgres SQL</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Git</li>
  </ul>
</BaseLayout> -->
