---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Personal Projects</div>
  </div>

  <HorizontalCard
    title="BlackJack"
    img="/blackjack.jpg"
    desc="Work-In-Progress game of blackjack"
    url="https://github.com/Yamato-Amaterasu/BlackJack"
  />

  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">School Projects</div>
  </div>

  <HorizontalCard
    title="Cloud 9"
    img="/cloud9.jpg"
    desc="Cloud 9 is a pillow store that lets you get your dream pillow without a hassle."
    url="https://cloud-9.fly.dev/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Fitness Tracker"
    img="/fitness.jpg"
    desc="Fitness Tracker allows you to post your workout routines for other users to see."
    url="https://your-fitness-tracker.netlify.app/"
  />
  <div class="divider my-0"></div>
</BaseLayout>
